<p id="notice"><%= notice %></p>

<h1>Listing Chases</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>CR</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chases.each do |chase| %>
      <tr>
        <td><%= chase.name %></td>
        <td><%= chase.cr %></td>
        <td><%= chase.description %></td>
        <td><%= link_to 'Show', chase %></td>
        <td><%= link_to 'Edit', edit_chase_path(chase) %></td>
        <td><%= link_to 'Destroy', chase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chase', new_chase_path %>
