<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chase.name %>
</p>

<p>
  <strong>Cr:</strong>
  <%= @chase.cr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chase.description %>
</p>

<%= link_to "Add an Obstacle", new_obstacle_path(chase_id:@chase.id) %>
<%= render partial: 'obstacles/index', locals: {obstacles: @chase.obstacles.order(:order), chase_id: @chase.id} %>

<%= link_to 'Edit', edit_chase_path(@chase) %> |
<%= link_to 'Back', chases_path %>
