<p id="notice"><%= notice %></p>

<h1>Listing Allegiances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allegiances.each do |allegiance| %>
      <tr>
        <td><%= link_to 'Show', allegiance %></td>
        <td><%= link_to 'Edit', edit_allegiance_path(allegiance) %></td>
        <td><%= link_to 'Destroy', allegiance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allegiance', new_allegiance_path %>
