<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attack.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attack.type %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @attack.damage %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @attack.effect %>
</p>

<p>
  <strong>Critchance:</strong>
  <%= @attack.critchance %>
</p>

<p>
  <strong>Tohit:</strong>
  <%= @attack.tohit %>
</p>

<%= link_to 'Edit', edit_attack_path(@attack) %> |
<%= link_to 'Back', attacks_path %>
