<%= form_for(@faction) do |f| %>
  <% if @faction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faction.errors.count, "error") %> prohibited this faction from being saved:</h2>

      <ul>
      <% @faction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <%= f.hidden_field :campaign_id, value:@campaign.id %>
  <div class="field">
    <%= f.label :leader %><br>
    <%= f.select_field :leader_id, options_from_collection_for_select(@npcs, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :main_type %><br>
    <%= f.text_field :main_type %>
  </div>
  <div class="field">
    <%= f.label :subtype %><br>
    <%= f.text_field :subtype %>
  </div>
  <div class="field">
    <%= f.label :headquarters %><br>
    <%= f.text_field :headquarters %>
  </div>
  <div class="field">
    <%= f.label :influence %><br>
    <%= f.select_field :influence, options_for_select(CampaignsHelper::INFLUENCE_OPTIONS) %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.select_field :strength, options_for_select(CampaignsHelper::STRENGTH_OPTIONS) %>
  </div>
  <div class="field">
    <%= f.label :secret %><br>
    <%= f.boolean_field :secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
