<h1>Listing Factions for <%= @campaign.name %></h1>
<%= link_to "Back", @campaign %>

<p><strong>Import Factions</strong></p>
<%= form_tag import_factions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :campaign_id, @campaign.id %>
  <%= submit_tag "Import" %>
<% end %>
<p><strong>Download Factions:</strong> <%= link_to "CSV", factions_path(campaign_id:@campaign.id, format: "csv") %></p>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Leader</th>
      <th>Description</th>
      <th>Main Type</th>
      <th>Subtype</th>
      <th>Headquarters</th>
      <th>Influence</th>
      <th>Strength</th>
      <th>Secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factions.each do |faction| %>
      <tr>
        <td><%= link_to faction.name, faction %></td>
        <td><% if faction.leader %> <%= link_to faction.leader_name, faction.leader %> <% end %></td>
        <td><%= faction.description %></td>
        <td><%= faction.main_type %></td>
        <td><%= faction.subtype %></td>
        <% if faction.location.nil? %>
          <td><%= faction.headquarters %></td>
        <% else %>
          <td><%= link_to faction.headquarters, faction.location %></td>
        <% end %>
        <td><%= faction.influence %></td>
        <td><%= faction.strength %></td>
        <td><%= faction.secret %></td>
        <td><%= link_to 'Show', faction %></td>
        <td><%= link_to 'Edit', edit_faction_path(faction) %></td>
        <td><%= link_to 'Destroy', faction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faction', new_faction_path(campaign_id:@campaign.id) %>
