<div style='width:50%;'>
  <div class='navbar navbar-right panel panel-default'>
    <%= render partial: "allegiances/index", locals: {list_name:'NPC', allegiances:@faction.allegiances, base:@faction} %>
  </div>
<p>
  <strong>Name:</strong>
  <%= @faction.name %>
</p>

<% if @faction.leader %>
<p>
  <strong>Leader:</strong>
  <%= link_to @faction.leader_name, @faction.leader %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @faction.description %>
</p>

<% if current_user.is_gm? %>
  <%= render 'admin_show' %>
<% end %>

<%= link_to 'Back', factions_path(campaign_id:@campaign.id) %>
</div>
