<p id="notice"><%= notice %></p>

<h1>Listing One Time Pads</h1>

<table class-'table table-hover'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Input</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @one_time_pads.each do |one_time_pad| %>
      <tr>
        <td><%= one_time_pad.id %></td>
        <td><%= one_time_pad.input[0..10] %></td>
        <td><%= link_to 'Show', one_time_pad %></td>
        <td><%= link_to 'Edit', edit_one_time_pad_path(one_time_pad) %></td>
        <td><%= link_to 'Destroy', one_time_pad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New One time pad', new_one_time_pad_path %>
