<p>
<strong>Input:</strong></br>
<%= raw @one_time_pad.blockify_input %>
</p>

<p>
<strong>Cypher:</strong></br>
<%= raw @one_time_pad.blockify_cypher %>
</p>

<p>
<strong>Output:</strong></br>
  <%= raw @one_time_pad.blockify_output %>
</p>

<p>
  <strong>Line length:</strong>
  <%= @one_time_pad.line_length %>
</p>

<p>
  <strong>Group length:</strong>
  <%= @one_time_pad.group_length %>
</p>

<p>
  <strong>Number of keys:</strong>
  <%= @one_time_pad.number_of_keys %>
</p>

<p>
  <strong>Key length:</strong>
  <%= @one_time_pad.key_length %>
</p>

<div class="panel-group" id="paste_dropdown">
  <div class='panel-heading'>
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#paste_dropdown" href="#paste_boxes">Get Pastable Text</a>
  </div>
  <div class="panel-collapse collapse" id="paste_boxes">
    <strong>Input:</strong>
    <blockquote>
      <p>
      <%= raw @one_time_pad.blockify_input({string:true}) %>
      </p>
    </blockquote>
    <strong>Cypher:</strong>
    <blockquote>
      <p>
      <%= raw @one_time_pad.blockify_cypher({string:true}) %>
      </p>
    </blockquote>
    <strong>Output:</strong>
    <blockquote>
      <p>
        <%= raw @one_time_pad.blockify_output(string:true) %>
      </p>
    </blockquote>
  </div>
</div>

<%= link_to 'Edit', edit_one_time_pad_path(@one_time_pad) %> |
<%= link_to 'Back', one_time_pads_path %>
