<%= form_for(@npc_relation) do |f| %>
  <% if @npc_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@npc_relation.errors.count, "error") %> prohibited this npc_relation from being saved:</h2>

      <ul>
      <% @npc_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :campaign_id, value:@campaign.id %>
  <div class="field">
    <%= f.label :npc1 %><br>
    <%= f.select_field :npc1_id, options_from_collection_for_select(@npcs, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :npc2 %><br>
    <%= f.select_field :npc2_id, options_from_collection_for_select(@npcs, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
