  <p>
    <strong>Notes:</strong>
    <%= @npc.notes %>
  </p>

  <p>
    <strong>Influence:</strong>
    <%= @npc.influence %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= @npc.strength %>
  </p>

  <p>
  <strong>Publicity:</strong>
  <%= @npc.publicity %>
  </p>

  <%= link_to 'Edit', edit_npc_path(@npc) %> |