<%= form_for(@npc) do |f| %>
  <% if @npc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@npc.errors.count, "error") %> prohibited this npc from being saved:</h2>

      <ul>
      <% @npc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <%= f.hidden_field :campaign_id, value:@campaign.id %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.select_field :race, options_for_select(CampaignsHelper::RACE_OPTIONS) %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select_field :gender, options_for_select(CampaignsHelper::GENDER_OPTIONS) %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :influence %><br>
    <%= f.select_field :influence, options_for_select(CampaignsHelper::INFLUENCE_OPTIONS) %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.select_field :strength, options_for_select(CampaignsHelper::STRENGTH_OPTIONS) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
