<%= form_for(@npc) do |f| %>
  <% if @npc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@npc.errors.count, "error") %> prohibited this npc from being saved:</h2>

      <ul>
      <% @npc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <%= f.hidden_field :campaign_id, value:@campaign.id %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.select :race, options_for_select(CampaignsHelper::RACE_OPTIONS, @npc.race) %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(CampaignsHelper::GENDER_OPTIONS, @npc.gender) %>
  </div>
  <div class="field">
    <%= f.label "Enter or Select a Location" %><br>
    <%= f.text_field :location %> | <%= f.select :location_id, options_from_collection_for_select(@campaign.locations, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :influence %><br>
    <%= f.select :influence, options_for_select(CampaignsHelper::INFLUENCE_OPTIONS, @npc.influence) %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.select :strength, options_for_select(CampaignsHelper::STRENGTH_OPTIONS, @npc.strength) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
