<h1>Listing NPCs for <%= @campaign.name %></h1>
<p><%= link_to "Back", @campaign %></p>

<br /><br />
<p><strong>Import NPCs</strong></p>
<%= form_tag import_npcs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :campaign_id, @campaign.id %>
  <%= submit_tag "Import" %>
<% end %>
<p><strong>Download NPCs:</strong> <%= link_to "CSV", npcs_path(campaign_id:@campaign.id, format: "csv") %></p>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Location</th>
      <th>Notes</th>
      <th>Influence</th>
      <th>Strength</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @npcs.each do |npc| %>
      <tr>
        <td><%= link_to npc.name, npc %></td>
        <td><%= npc.description %></td>
        <td><%= npc.race %></td>
        <td><%= npc.gender %></td>
        <td><%= npc.location %></td>
        <td><%= npc.notes %></td>
        <td><%= npc.influence %></td>
        <td><%= npc.strength %></td>
        <td><%= link_to 'Show', npc %></td>
        <td><%= link_to 'Edit', edit_npc_path(npc) %></td>
        <td><%= link_to 'Destroy', npc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Npc', new_npc_path(campaign_id:@campaign.id) %>
