<div style='width:50%;'>
  <%= render partial: "npc_connections", locals: {npc:@npc} %>

  <p>
  <strong>Name:</strong>
  <%= @npc.name %>
  </p>

  <p>
  <strong>Campaign:</strong>
  <%= link_to @npc.campaign.name, @npc.campaign %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @npc.description %>
  </p>

  <p>
  <strong>Phsyical Description:</strong>
  <%= @npc.physical_description %>
  </p>

  <p>
  <strong>Personality:</strong>
  <%= @npc.personality %>
  </p>

  <p>
  <strong>Race:</strong>
  <%= @npc.race %>
  </p>

  <p>
  <strong>Gender:</strong>
  <%= @npc.gender %>
  </p>

  <p>
    <strong>Location:</strong>
    <% if @npc.location.nil? %>
      <%= @npc.location_name %>
    <% else %>
      <%= link_to @npc.location_name, @npc.location %>
    <% end %>
  </p>

  <% if current_user.is_gm? %>
    <%= render 'admin_show' %>
  <% end %>

  <%= link_to 'Back', npcs_path(campaign_id:@campaign.id) %>
</div>
