<h1>Listing Obstacles</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Primary Skill</th>
      <th>Secondary Skill</th>
      <th>Dc</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% obstacles.each do |obstacle| %>
    <tr>
    <td><%= obstacle.order %></td>
    <td><%= obstacle.name %></td>
    <td><%= obstacle.primary_skill %></td>
    <td><%= obstacle.secondary_skill %></td>
    <td><%= obstacle.dc %></td>
    <td><%= obstacle.description %></td>
    <td><%= Obstacle::DC_TO_DIFFICULTY[obstacle.dc] %></td>
    <td><%= link_to 'Show', obstacle %></td>
    <td><%= link_to 'Edit', edit_obstacle_path(obstacle) %></td>
    <td><%= link_to 'Destroy', obstacle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Obstacle', new_obstacle_path(chase_id:chase_id) %>
