<p id="notice"><%= notice %></p>

<h1>Listing Casters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Ties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casters.each do |caster| %>
      <tr>
        <td><%= caster.name %></td>
        <td><%= caster.user_id %></td>
        <td><%= caster.wins %></td>
        <td><%= caster.losses %></td>
        <td><%= caster.ties %></td>
        <td><%= link_to 'Show', caster %></td>
        <td><%= link_to 'Edit', edit_caster_path(caster) %></td>
        <td><%= link_to 'Destroy', caster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caster', new_caster_path %>
