<p id="notice"><%= notice %></p>

<h1>Listing Summoned Creatures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Caster</th>
      <th>Type</th>
      <th>Hp</th>
      <th>Str</th>
      <th>Dex</th>
      <th>Con</th>
      <th>Intel</th>
      <th>Wis</th>
      <th>Cha</th>
      <th>Weak against</th>
      <th>Resistant against</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summoned_creatures.each do |summoned_creature| %>
      <tr>
        <td><%= summoned_creature.name %></td>
        <td><%= summoned_creature.caster_id %></td>
        <td><%= summoned_creature.type %></td>
        <td><%= summoned_creature.hp %></td>
        <td><%= summoned_creature.str %></td>
        <td><%= summoned_creature.dex %></td>
        <td><%= summoned_creature.con %></td>
        <td><%= summoned_creature.intel %></td>
        <td><%= summoned_creature.wis %></td>
        <td><%= summoned_creature.cha %></td>
        <td><%= summoned_creature.weak_against %></td>
        <td><%= summoned_creature.resistant_against %></td>
        <td><%= link_to 'Show', summoned_creature %></td>
        <td><%= link_to 'Edit', edit_summoned_creature_path(summoned_creature) %></td>
        <td><%= link_to 'Destroy', summoned_creature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summoned creature', new_summoned_creature_path %>
