<div class='navbar navbar-left'>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'My Links', links_path %></li>
      <li><%= link_to 'My One-Time Pads', one_time_pads_path %></li>
      <li><%= link_to 'My Reverse Date Cyphers', reverse_date_cyphers_path %></li>
      <li><%= link_to 'My Rot-Cyphers', rot_cyphers_path %></li>
      <li><%= link_to 'My Square Cyphers', v_square_cyphers_path %></li>
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
