<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'></meta>
  <title>Octobear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <table>
    <tr>
      <td class='navbar'>
        <%= render 'layouts/navigation' %>
      </td>

      <td>
        <div class='container'>
          <p id='notice' class="notice"><%= notice %></p>
          <p id='alert' class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
